<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.report.dao.mapper.DsBbinLiveMapper">
  <resultMap id="BaseResultMap" type="com.ds.report.entity.DsBbinLive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="uppername" jdbcType="VARCHAR" property="uppername" />
    <result column="bbin_website" jdbcType="VARCHAR" property="bbinWebsite" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="wagers_id" jdbcType="VARCHAR" property="wagersId" />
    <result column="wagers_date" jdbcType="TIMESTAMP" property="wagersDate" />
    <result column="serial_id" jdbcType="VARCHAR" property="serialId" />
    <result column="round_no" jdbcType="VARCHAR" property="roundNo" />
    <result column="game_type" jdbcType="INTEGER" property="gameType" />
    <result column="game_code" jdbcType="VARCHAR" property="gameCode" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="result_type" jdbcType="VARCHAR" property="resultType" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="bet_amount" jdbcType="DECIMAL" property="betAmount" />
    <result column="pay_off" jdbcType="DECIMAL" property="payOff" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="exchange_rate" jdbcType="VARCHAR" property="exchangeRate" />
    <result column="commissionable" jdbcType="DECIMAL" property="commissionable" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
    <result column="win_loss_type" jdbcType="TINYINT" property="winLossType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
    <result column="last_json" jdbcType="VARCHAR" property="lastJson" />
  </resultMap>
  <resultMap id="ReportTotalMap" type="com.ds.report.entity.DsReportDetail" >
    <result column="bet_count" property="betCount" jdbcType="INTEGER" />
    <result column="betamount" property="betamount" jdbcType="DECIMAL" />
    <result column="winlose" property="winlose" jdbcType="DECIMAL" />
    <result column="validamount" property="validamount" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ReportDetailMap" type="com.ds.report.entity.DsReportDetail" >
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="live_id" property="liveId" jdbcType="TINYINT" />
    <result column="live_name" property="liveName" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="bet_count" property="betCount" jdbcType="INTEGER" />
    <result column="betamount" property="betamount" jdbcType="DECIMAL" />
    <result column="winlose" property="winlose" jdbcType="DECIMAL" />
    <result column="validamount" property="validamount" jdbcType="DECIMAL" />
    <result column="game_kind" property="gameKind" jdbcType="INTEGER" />
    <result column="game_kind_name" property="gameKindName" jdbcType="VARCHAR" />
    <result column="game_type" property="gameType" jdbcType="INTEGER" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="bet_time" property="betTime" jdbcType="TIMESTAMP" />
    <result column="winlose_type" property="winloseType" jdbcType="VARCHAR" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="table_no" property="tableNo" jdbcType="VARCHAR" />
    <result column="serial_id" property="serialId" jdbcType="VARCHAR" />
    <result column="shoe_infoid" property="shoeInfoid" jdbcType="VARCHAR" />
    <result column="round_no" property="roundNo" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="card" jdbcType="VARCHAR" property="card" />
  </resultMap>
  <resultMap id="BetTotalMap" type="com.ds.report.entity.DsReport" >
    <result column="game_kind" property="gameKind" jdbcType="INTEGER" />
    <result column="game_kind_name" property="gameKindName" jdbcType="VARCHAR" />
   	<result column="game_type" property="gameType" jdbcType="INTEGER" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="bet_time" property="betTime" jdbcType="DATE" />
    <result column="bet_count" property="betCount" jdbcType="INTEGER" />
    <result column="betamount" property="betamount" jdbcType="DECIMAL" />
    <result column="winlose" property="winlose" jdbcType="DECIMAL" />
    <result column="validamount" property="validamount" jdbcType="DECIMAL" />
  </resultMap>
  <select id="queryBetTotalByDayNew" resultMap="BetTotalMap" parameterType="com.ds.report.entity.DsBbinSportExample" >
    SELECT DATE_FORMAT(d.wagers_date,'%Y-%m-%d')  bet_time,COUNT(1) bet_count, SUM(d.bet_amount) betamount, SUM(d.pay_off) winlose, SUM(d.commissionable) validamount
	FROM ds_bbin_live d
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
	GROUP BY DATE_FORMAT(d.wagers_date,'%Y-%m-%d')
  </select>
  <select id="queryTotalGroupGameType" resultMap="BetTotalMap" parameterType="com.ds.report.entity.DsBbinSportExample" >
    SELECT t.id game_type, IFNULL(t.game_name,'bbin视讯') game_name, COUNT(1) bet_count, SUM(d.bet_amount) betamount, SUM(d.pay_off) winlose, SUM(d.commissionable) validamount
	FROM ds_bbin_live d 
	LEFT JOIN ds_game_type t ON d.game_type = t.out_game_code and t.fk_live_id=11 and t.parent_id = 3
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
	GROUP BY d.game_type
  </select>
  <select id="queryTotal" resultMap="ReportTotalMap" parameterType="java.lang.Long" >
    select count(*) as bet_count,sum(bet_amount) as betamount,sum(commissionable) as validamount,sum(pay_off) as winlose
      from ds_bbin_live
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="queryDetail" resultMap="ReportDetailMap" parameterType="com.ds.report.entity.DsBbinLiveExample" >
    select site_id, user_name as username, bet_amount as betamount,commissionable as validamount,pay_off as winlose,
           (select id from ds_game_type where game_type = out_game_code and fk_live_id=11 and parent_id = 3) as game_type, (select game_name from ds_game_type where game_type = out_game_code and fk_live_id=11 and parent_id = 3) as game_name, 
           wagers_date as bet_time,win_loss_type as winlose_type, wagers_id as bill_no, game_code as table_no, serial_id as serial_id, 
           '' as shoe_infoid, round_no as round_no, result as result,card
      from ds_bbin_live
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null and pageLimit !=null">
      limit ${page},${pageLimit}
    </if>
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, uppername, bbin_website, site_id, wagers_id, wagers_date, serial_id, 
    round_no, game_type, game_code, result, result_type, card, bet_amount, pay_off, currency, 
    exchange_rate, commissionable, commission, win_loss_type, create_time, update_time, 
    modified_date, flag, last_json
  </sql>
  <select id="selectByExample" parameterType="com.ds.report.entity.DsBbinLiveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ds_bbin_live
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ds_bbin_live
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ds_bbin_live
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ds.report.entity.DsBbinLiveExample">
    delete from ds_bbin_live
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ds.report.entity.DsBbinLive">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ds_bbin_live (user_name, uppername, bbin_website, 
      site_id, wagers_id, wagers_date, 
      serial_id, round_no, game_type, 
      game_code, result, result_type, 
      card, bet_amount, pay_off, 
      currency, exchange_rate, commissionable, 
      commission, win_loss_type, create_time, 
      update_time, modified_date, flag, 
      last_json)
    values (#{userName,jdbcType=VARCHAR}, #{uppername,jdbcType=VARCHAR}, #{bbinWebsite,jdbcType=VARCHAR}, 
      #{siteId,jdbcType=INTEGER}, #{wagersId,jdbcType=VARCHAR}, #{wagersDate,jdbcType=TIMESTAMP}, 
      #{serialId,jdbcType=VARCHAR}, #{roundNo,jdbcType=VARCHAR}, #{gameType,jdbcType=INTEGER}, 
      #{gameCode,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{resultType,jdbcType=VARCHAR}, 
      #{card,jdbcType=VARCHAR}, #{betAmount,jdbcType=DECIMAL}, #{payOff,jdbcType=DECIMAL}, 
      #{currency,jdbcType=VARCHAR}, #{exchangeRate,jdbcType=VARCHAR}, #{commissionable,jdbcType=DECIMAL}, 
      #{commission,jdbcType=DECIMAL}, #{winLossType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{modifiedDate,jdbcType=TIMESTAMP}, #{flag,jdbcType=TINYINT}, 
      #{lastJson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ds.report.entity.DsBbinLive">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ds_bbin_live
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="uppername != null">
        uppername,
      </if>
      <if test="bbinWebsite != null">
        bbin_website,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="wagersId != null">
        wagers_id,
      </if>
      <if test="wagersDate != null">
        wagers_date,
      </if>
      <if test="serialId != null">
        serial_id,
      </if>
      <if test="roundNo != null">
        round_no,
      </if>
      <if test="gameType != null">
        game_type,
      </if>
      <if test="gameCode != null">
        game_code,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="resultType != null">
        result_type,
      </if>
      <if test="card != null">
        card,
      </if>
      <if test="betAmount != null">
        bet_amount,
      </if>
      <if test="payOff != null">
        pay_off,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="exchangeRate != null">
        exchange_rate,
      </if>
      <if test="commissionable != null">
        commissionable,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="winLossType != null">
        win_loss_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="lastJson != null">
        last_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="uppername != null">
        #{uppername,jdbcType=VARCHAR},
      </if>
      <if test="bbinWebsite != null">
        #{bbinWebsite,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="wagersId != null">
        #{wagersId,jdbcType=VARCHAR},
      </if>
      <if test="wagersDate != null">
        #{wagersDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serialId != null">
        #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="roundNo != null">
        #{roundNo,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null">
        #{gameType,jdbcType=INTEGER},
      </if>
      <if test="gameCode != null">
        #{gameCode,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="resultType != null">
        #{resultType,jdbcType=VARCHAR},
      </if>
      <if test="card != null">
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="betAmount != null">
        #{betAmount,jdbcType=DECIMAL},
      </if>
      <if test="payOff != null">
        #{payOff,jdbcType=DECIMAL},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null">
        #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="commissionable != null">
        #{commissionable,jdbcType=DECIMAL},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DECIMAL},
      </if>
      <if test="winLossType != null">
        #{winLossType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="lastJson != null">
        #{lastJson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ds.report.entity.DsBbinLiveExample" resultType="java.lang.Integer">
    select count(*) from ds_bbin_live
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ds_bbin_live
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.uppername != null">
        uppername = #{record.uppername,jdbcType=VARCHAR},
      </if>
      <if test="record.bbinWebsite != null">
        bbin_website = #{record.bbinWebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.siteId != null">
        site_id = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.wagersId != null">
        wagers_id = #{record.wagersId,jdbcType=VARCHAR},
      </if>
      <if test="record.wagersDate != null">
        wagers_date = #{record.wagersDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serialId != null">
        serial_id = #{record.serialId,jdbcType=VARCHAR},
      </if>
      <if test="record.roundNo != null">
        round_no = #{record.roundNo,jdbcType=VARCHAR},
      </if>
      <if test="record.gameType != null">
        game_type = #{record.gameType,jdbcType=INTEGER},
      </if>
      <if test="record.gameCode != null">
        game_code = #{record.gameCode,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null">
        result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.resultType != null">
        result_type = #{record.resultType,jdbcType=VARCHAR},
      </if>
      <if test="record.card != null">
        card = #{record.card,jdbcType=VARCHAR},
      </if>
      <if test="record.betAmount != null">
        bet_amount = #{record.betAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.payOff != null">
        pay_off = #{record.payOff,jdbcType=DECIMAL},
      </if>
      <if test="record.currency != null">
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangeRate != null">
        exchange_rate = #{record.exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="record.commissionable != null">
        commissionable = #{record.commissionable,jdbcType=DECIMAL},
      </if>
      <if test="record.commission != null">
        commission = #{record.commission,jdbcType=DECIMAL},
      </if>
      <if test="record.winLossType != null">
        win_loss_type = #{record.winLossType,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=TINYINT},
      </if>
      <if test="record.lastJson != null">
        last_json = #{record.lastJson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ds_bbin_live
    set id = #{record.id,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      uppername = #{record.uppername,jdbcType=VARCHAR},
      bbin_website = #{record.bbinWebsite,jdbcType=VARCHAR},
      site_id = #{record.siteId,jdbcType=INTEGER},
      wagers_id = #{record.wagersId,jdbcType=VARCHAR},
      wagers_date = #{record.wagersDate,jdbcType=TIMESTAMP},
      serial_id = #{record.serialId,jdbcType=VARCHAR},
      round_no = #{record.roundNo,jdbcType=VARCHAR},
      game_type = #{record.gameType,jdbcType=INTEGER},
      game_code = #{record.gameCode,jdbcType=VARCHAR},
      result = #{record.result,jdbcType=VARCHAR},
      result_type = #{record.resultType,jdbcType=VARCHAR},
      card = #{record.card,jdbcType=VARCHAR},
      bet_amount = #{record.betAmount,jdbcType=DECIMAL},
      pay_off = #{record.payOff,jdbcType=DECIMAL},
      currency = #{record.currency,jdbcType=VARCHAR},
      exchange_rate = #{record.exchangeRate,jdbcType=VARCHAR},
      commissionable = #{record.commissionable,jdbcType=DECIMAL},
      commission = #{record.commission,jdbcType=DECIMAL},
      win_loss_type = #{record.winLossType,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      flag = #{record.flag,jdbcType=TINYINT},
      last_json = #{record.lastJson,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ds.report.entity.DsBbinLive">
    update ds_bbin_live
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="uppername != null">
        uppername = #{uppername,jdbcType=VARCHAR},
      </if>
      <if test="bbinWebsite != null">
        bbin_website = #{bbinWebsite,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="wagersId != null">
        wagers_id = #{wagersId,jdbcType=VARCHAR},
      </if>
      <if test="wagersDate != null">
        wagers_date = #{wagersDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serialId != null">
        serial_id = #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="roundNo != null">
        round_no = #{roundNo,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null">
        game_type = #{gameType,jdbcType=INTEGER},
      </if>
      <if test="gameCode != null">
        game_code = #{gameCode,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="resultType != null">
        result_type = #{resultType,jdbcType=VARCHAR},
      </if>
      <if test="card != null">
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="betAmount != null">
        bet_amount = #{betAmount,jdbcType=DECIMAL},
      </if>
      <if test="payOff != null">
        pay_off = #{payOff,jdbcType=DECIMAL},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null">
        exchange_rate = #{exchangeRate,jdbcType=VARCHAR},
      </if>
      <if test="commissionable != null">
        commissionable = #{commissionable,jdbcType=DECIMAL},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=DECIMAL},
      </if>
      <if test="winLossType != null">
        win_loss_type = #{winLossType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=TINYINT},
      </if>
      <if test="lastJson != null">
        last_json = #{lastJson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ds.report.entity.DsBbinLive">
    update ds_bbin_live
    set user_name = #{userName,jdbcType=VARCHAR},
      uppername = #{uppername,jdbcType=VARCHAR},
      bbin_website = #{bbinWebsite,jdbcType=VARCHAR},
      site_id = #{siteId,jdbcType=INTEGER},
      wagers_id = #{wagersId,jdbcType=VARCHAR},
      wagers_date = #{wagersDate,jdbcType=TIMESTAMP},
      serial_id = #{serialId,jdbcType=VARCHAR},
      round_no = #{roundNo,jdbcType=VARCHAR},
      game_type = #{gameType,jdbcType=INTEGER},
      game_code = #{gameCode,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      result_type = #{resultType,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      bet_amount = #{betAmount,jdbcType=DECIMAL},
      pay_off = #{payOff,jdbcType=DECIMAL},
      currency = #{currency,jdbcType=VARCHAR},
      exchange_rate = #{exchangeRate,jdbcType=VARCHAR},
      commissionable = #{commissionable,jdbcType=DECIMAL},
      commission = #{commission,jdbcType=DECIMAL},
      win_loss_type = #{winLossType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=TINYINT},
      last_json = #{lastJson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>