<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.sgs.dao.DsSgsLiveMapper">
  <resultMap id="BaseResultMap" type="com.ds.sgs.entity.DsSgsLive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="ugs_bet_id" jdbcType="VARCHAR" property="ugsBetId" />
    <result column="txid" jdbcType="VARCHAR" property="txid" />
    <result column="bet_id" jdbcType="VARCHAR" property="betId" />
    <result column="bet_on" jdbcType="TIMESTAMP" property="betOn" />
    <result column="bet_closed_on" jdbcType="TIMESTAMP" property="betClosedOn" />
    <result column="bet_updated_on" jdbcType="TIMESTAMP" property="betUpdatedOn" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="roundid" jdbcType="VARCHAR" property="roundid" />
    <result column="round_status" jdbcType="VARCHAR" property="roundStatus" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="riskamt" jdbcType="DECIMAL" property="riskamt" />
    <result column="winamt" jdbcType="DECIMAL" property="winamt" />
    <result column="winloss" jdbcType="DECIMAL" property="winloss" />
    <result column="beforebal" jdbcType="DECIMAL" property="beforebal" />
    <result column="postbal" jdbcType="DECIMAL" property="postbal" />
    <result column="win_loss_type" jdbcType="TINYINT" property="winLossType" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="game_provider" jdbcType="VARCHAR" property="gameProvider" />
    <result column="game_provider_code" jdbcType="VARCHAR" property="gameProviderCode" />
    <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="platform_type" jdbcType="VARCHAR" property="platformType" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="bet_type" jdbcType="VARCHAR" property="betType" />
    <result column="play_type" jdbcType="VARCHAR" property="playType" />
    <result column="player_type" jdbcType="TINYINT" property="playerType" />
    <result column="turnover" jdbcType="DECIMAL" property="turnover" />
    <result column="validbet" jdbcType="DECIMAL" property="validbet" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_id, ugs_bet_id, txid, bet_id, bet_on, bet_closed_on, bet_updated_on, timestamp, 
    roundid, round_status, userid, username, riskamt, winamt, winloss, beforebal, postbal, 
    win_loss_type, currency, game_provider, game_provider_code, game_name, game_id, platform_type, 
    ip_address, bet_type, play_type, player_type, turnover, validbet, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ds_sgs_live
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.ds.sgs.entity.DsSgsLive">
    insert into ds_sgs_live (id, site_id, ugs_bet_id, 
      txid, bet_id, bet_on, 
      bet_closed_on, bet_updated_on, timestamp, 
      roundid, round_status, userid, 
      username, riskamt, winamt, 
      winloss, beforebal, postbal, 
      win_loss_type, currency, game_provider, 
      game_provider_code, game_name, game_id, 
      platform_type, ip_address, bet_type, 
      play_type, player_type, turnover, 
      validbet, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=INTEGER}, #{ugsBetId,jdbcType=VARCHAR}, 
      #{txid,jdbcType=VARCHAR}, #{betId,jdbcType=VARCHAR}, #{betOn,jdbcType=TIMESTAMP}, 
      #{betClosedOn,jdbcType=TIMESTAMP}, #{betUpdatedOn,jdbcType=TIMESTAMP}, #{timestamp,jdbcType=TIMESTAMP}, 
      #{roundid,jdbcType=VARCHAR}, #{roundStatus,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{riskamt,jdbcType=DECIMAL}, #{winamt,jdbcType=DECIMAL}, 
      #{winloss,jdbcType=DECIMAL}, #{beforebal,jdbcType=DECIMAL}, #{postbal,jdbcType=DECIMAL}, 
      #{winLossType,jdbcType=TINYINT}, #{currency,jdbcType=VARCHAR}, #{gameProvider,jdbcType=VARCHAR}, 
      #{gameProviderCode,jdbcType=VARCHAR}, #{gameName,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, 
      #{platformType,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, #{betType,jdbcType=VARCHAR}, 
      #{playType,jdbcType=VARCHAR}, #{playerType,jdbcType=TINYINT}, #{turnover,jdbcType=DECIMAL}, 
      #{validbet,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.ds.sgs.entity.DsSgsLive">
    update ds_sgs_live
    <set>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="ugsBetId != null">
        ugs_bet_id = #{ugsBetId,jdbcType=VARCHAR},
      </if>
      <if test="txid != null">
        txid = #{txid,jdbcType=VARCHAR},
      </if>
      <if test="betId != null">
        bet_id = #{betId,jdbcType=VARCHAR},
      </if>
      <if test="betOn != null">
        bet_on = #{betOn,jdbcType=TIMESTAMP},
      </if>
      <if test="betClosedOn != null">
        bet_closed_on = #{betClosedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="betUpdatedOn != null">
        bet_updated_on = #{betUpdatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="roundid != null">
        roundid = #{roundid,jdbcType=VARCHAR},
      </if>
      <if test="roundStatus != null">
        round_status = #{roundStatus,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="riskamt != null">
        riskamt = #{riskamt,jdbcType=DECIMAL},
      </if>
      <if test="winamt != null">
        winamt = #{winamt,jdbcType=DECIMAL},
      </if>
      <if test="winloss != null">
        winloss = #{winloss,jdbcType=DECIMAL},
      </if>
      <if test="beforebal != null">
        beforebal = #{beforebal,jdbcType=DECIMAL},
      </if>
      <if test="postbal != null">
        postbal = #{postbal,jdbcType=DECIMAL},
      </if>
      <if test="winLossType != null">
        win_loss_type = #{winLossType,jdbcType=TINYINT},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="gameProvider != null">
        game_provider = #{gameProvider,jdbcType=VARCHAR},
      </if>
      <if test="gameProviderCode != null">
        game_provider_code = #{gameProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="gameName != null">
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        platform_type = #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="betType != null">
        bet_type = #{betType,jdbcType=VARCHAR},
      </if>
      <if test="playType != null">
        play_type = #{playType,jdbcType=VARCHAR},
      </if>
      <if test="playerType != null">
        player_type = #{playerType,jdbcType=TINYINT},
      </if>
      <if test="turnover != null">
        turnover = #{turnover,jdbcType=DECIMAL},
      </if>
      <if test="validbet != null">
        validbet = #{validbet,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByUgsBetId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ds_sgs_live
    where ugs_bet_id = #{ugsBetId,jdbcType=BIGINT}
  </select>
  
</mapper>