<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.live.mapper.DsPullPageInfoMapper">
  <resultMap id="BaseResultMap" type="com.kg.live.entity.DsPullPageInfo">
    <result column="page_num" jdbcType="INTEGER" property="pageNum" />
    <result column="game_kind" jdbcType="INTEGER" property="gameKind" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="game_type" jdbcType="INTEGER" property="gameType" />
    <result column="page_date" jdbcType="DATE" property="pageDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    page_num, game_kind, create_time, game_type, page_date
  </sql>
  <select id="selectByExample" parameterType="com.kg.live.entity.DsPullPageInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ds_pull_page_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.kg.live.entity.DsPullPageInfoExample">
    delete from ds_pull_page_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kg.live.entity.DsPullPageInfo">
    insert into ds_pull_page_info (page_num, game_kind, create_time, 
      game_type, page_date)
    values (#{pageNum,jdbcType=INTEGER}, #{gameKind,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{gameType,jdbcType=INTEGER}, #{pageDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.kg.live.entity.DsPullPageInfo">
    insert into ds_pull_page_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pageNum != null">
        page_num,
      </if>
      <if test="gameKind != null">
        game_kind,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="gameType != null">
        game_type,
      </if>
      <if test="pageDate != null">
        page_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pageNum != null">
        #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="gameKind != null">
        #{gameKind,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gameType != null">
        #{gameType,jdbcType=INTEGER},
      </if>
      <if test="pageDate != null">
        #{pageDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kg.live.entity.DsPullPageInfoExample" resultType="java.lang.Long">
    select count(*) from ds_pull_page_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ds_pull_page_info
    <set>
      <if test="record.pageNum != null">
        page_num = #{record.pageNum,jdbcType=INTEGER},
      </if>
      <if test="record.gameKind != null">
        game_kind = #{record.gameKind,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gameType != null">
        game_type = #{record.gameType,jdbcType=INTEGER},
      </if>
      <if test="record.pageDate != null">
        page_date = #{record.pageDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ds_pull_page_info
    set page_num = #{record.pageNum,jdbcType=INTEGER},
      game_kind = #{record.gameKind,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      game_type = #{record.gameType,jdbcType=INTEGER},
      page_date = #{record.pageDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>